@import url(https://fonts.googleapis.com/css?family='Droid Arabic Naskh', serif);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
.droid-arabic-naskh{font-family: 'Droid Arabic Naskh', serif;}

::selection {
  color: white;
  background: #000000;
}

body{
	
	background-color : #FFFAFA;
	
	font-family: 'Almarai', sans-serif;
    background-repeat: no-repeat;
    background-size: 100% ;
	overflow-X: hidden; /* Hide vertical scrollbar */
}

#nightmodebutton{
	margin-top:0.5%;
	height:40px;
	border:0;
}

/*Start of Dark Mode*/

.dark-mode {
  background-color: #250000;
  color: white;
}

.dark-mode ul {
	
}

.dark-mode #esmalsora {
	/*color:#e30202;*/
	color:#FFFAFA;
	border:0px solid #737373;
	background-color:#330000;
}

.dark-mode #table {
	background-color:#330000;
	border:0px solid #737373;
}


.dark-mode .radio {
	background-color:#230101;
	color:white;
	font-weight: 600;
}

.dark-mode #esmalsora2 {

}

.dark-mode #esmalsora2:hover {
	background-color:red;
	color:white;
}

button {
	z-index:1;
	background-color:#250000;
	color:white;
	height:100%;
	float:right;
	border-radius:10px;
	margin-top:5px;
	margin-bottom:5px;
	font-family:arial;
	font-weight:bold;
}

/*
button:hover{
	background-color:black;
	color:red;
	width:120%;
	height:120%;
	font-weight:bold;
	
}*/

.dark-mode button {
	background-color:white;
	color:black;
	font-weight:bold;
}

.dark-mode #alsora {
	color:white;
	background-color:#330000;
}



/*End of Dark Mode*/


/*
.container{
	width:95%;
	margin: auto;
	padding: 0px;
}*/

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  z-index: 2;
  box-shadow: 0 0px 9px 0px #000;
} 

ul {
  list-style-type: none;
  overflow: hidden;
 /* background-image: linear-gradient(180deg,#de0909 0,#b20202);*/
  background-color:#B80000;
  opacity: 0.9;
  height:60px;
  width:100%;
  margin: -8px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
  position: sticky;
  }

li {

  display: inline;
}

#navLogo {
  margin-top: 3px;
  margin-left:70px;
}

#navText {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  margin-top: -46px;
  margin-left:-30px;
  font-size: 20px;
}

#navelement {
  margin-right:100px;
}


#logo{
	color:white	; 
	float: center ; 
	text-align:center;
	text-shadow: 6px 6px 7px black, 0 0 30px black, 0 0 10px black;
}

h3{
	color:black;
}

#table{
	background-color:#FFFFFF;
	border:0px solid gray;
	border-radius:10px;
	padding-top:50px;
	padding-bottom:50px;
    margin-right:50px;
	margin-left:50px;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
}

li {
  float: left ;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 60px 40px;
  text-decoration: none;
}

#esmalsora{
	text-align:center;
	color:#ca0202;
	font-size:40px;
	background-color:#FFFFFF;
	border:0px solid gray;
	border-radius:10px;
	margin-right:50px;
	margin-left:50px;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
}

#esmalsora1{
	text-align:center ;
	color:#e60000 ;
	font-weight: bold;
	font-size: 30px;
	text-shadow: 2px 2px 15px gray;

}

#alfehres{
	background-color:#cc0000 ;
	color:white ;
	text-align: center ;
    width:70px ;
	display: inline-block;
	font-size: 19px;
	padding: 2px 15px;
	font-weight: bold;
	border-radius: 25px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#esmalsora2{
	background-color:#B80000 ;
	color:white ;
	text-align: center ; 
    width:110px ;
	display: inline-block;
	font-size: 13px;
	padding: 15px 32px;
	font-weight: bold;
	border-radius: 25px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#alsora{
	text-align:center ; 
	LINE-HEIGHT:50px ;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding: 50px 80px;
}

#alsora-end{
	text-align:center ; 
	LINE-HEIGHT:50px ;
	font-size:25px;
}

#esmalsora2:hover {
  background-color:white;
  color:#cc0000 ;
  width:200px; 
  transition-duration: 0.4s;
  box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2), 0 0px 20px 0 rgba(0,0,0,0.19);
}


/*  test

#esmalsora2{
	background-color:white ;
	border-style:solid;
    border-color:#B80000;
	color:#B80000 ;
	text-align: center ; 
    width:110px ;
	display: inline-block;
	font-size: 13px;
	padding: 15px 32px;
	font-weight: bold;
	border-radius: 25px;
}

#esmalsora2:hover {
  background-color:#B80000;
  color:white ;
  width:110px; 
  border-style:solid;
  border-color:#B80000;
  transition-duration: 0.0s;
  box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2), 0 0px 20px 0 rgba(0,0,0,0.19);
}
*/


#alfehres:hover {
  background-color:white;
  color:#cc0000;
  width:120px;
  transition-duration: 0.2s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


*:link{
	text-decoration: none;
}

*:visited {
  color: none;
  text-decoration: none;
}

html{
	scroll-behavior: smooth;
}

.radio {
  background-color: #230101;
  color:white;
  width:160px;
  border-radius:25px;
}
/*
#developed_by a{
	background-color:black;
	color:white;
	text-align: center;
	border: 2px solid black;
	transition-duration: 0.2s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	width: 235px;
	height:30px;
	margin-top: -100px; 
    margin-left: -100px;
	border-radius: 25px;
	float:right;
	display:inline-block
}
*/

#developed_by{
	color:#f6b100;
}

#developed_by a{
	color:#fcc535;
	font-weight:bold;
	font-family:Arial;
}

#developed_by:hover a{
	background-color:#f6b100 ;
	background-color:#e6a600;
	border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
	
    font-size: 17px;
	/*border: 3px solid black;*/
	transition-duration: 0.3s;
	border-radius: 25px;
	
}


footer{
	background-image: linear-gradient(180deg,#b20202 0,#7e0202);
    width: 100%;
	right:0px;
	height:25%;
    color: white;
    text-align: center;
	overflow: hidden;
	position: absolute;

}



@media only screen and (max-width:414px){
	
.container{
  width:414px;

}

nav{
	box-shadow:none;
}

#esmalsora{
	text-align:center;
	color:#BA0202;
	font-size:40px;
	margin-right: 70px;
}

#alsora{
	box-shadow: none;
	padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
	text-align:center ; 
	width:480px;
	font-size: 30px;
	LINE-HEIGHT: 65px;
}

.radio {
  background-color: #0d0d0d;
  color:white;
  width:30px;
  font-size: 11px;
  
}

#nightmodebutton{
	width:1%;
	margin-left:5%;
}

#navLogo {
  margin-top: 8px;
  margin-left:10px;
}

#navText {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  margin-top: -40px;
  margin-left:-85px;
  margin-right:0px;
  font-size: 20px;
}

#esmalsora2{
    width:80px ;
}

#esmalsora1{
  margin-right:80px;
}

#table {
	width: 125%;
	margin-right:2%;
	margin-left:2%;
}

ul {
  height:10%;
  width:130%;
}

li a {
  margin-left: 55px;
}
	
footer{
	padding:0px 13% 1%;
	    width: 103%;
}


}

@media only screen and (max-width:411px){ 


#table {
	width: 145%;
}

ul {
  height:10%;
  width:150%;
}

#esmalsora{
	text-align:center;
	color:#BA0202;
	font-size:40px;
	margin-right: 100px;
}

.radio {
  background-color: #0d0d0d;
  color:white;
  width:60px;
  font-size:12px;
}

#alsora{
	box-shadow: none;
	padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
	text-align:center ; 
	width:500px;
	font-size: 30px;
	LINE-HEIGHT: 65px;
}

#esmalsora2:hover {
	width:110;
	background-color: #B80000;
    color: white;
}


footer{
	padding:0px 23% 10%;
}
}


@media only screen and (width:375px){
	
	body{
		width:100%;
	}
	
ul {
  height:9%;
}

#navText {
	font-size: 15px;
}

.radio {
  background-color: #0d0d0d;
  color:white;
  width:50px;
  font-size: 10px;
}

nav{
	
}

#table{
	margin-right:1.5%;
	margin-left:1.5%;
}

#esmalsora{
	text-align:center;
	color:#BA0202;
	font-size:40px;
	margin-right:30%;
	margin-left:auto;
	padding:auto;
}

#alsora{
	box-shadow: none;
	padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
	text-align:center ; 
	width:470px;
	font-size: 30px;
	LINE-HEIGHT: 65px;
}
}

@media only screen and (max-width:360px){
	
	body{
		width:100%;
	}
	
ul {
  height:9%;
}

#navText {
	font-size: 15px;
}

.radio {
  background-color: #0d0d0d;
  color:white;
  width:50px;
  font-size: 10px;
}

nav{
	
}

#table{
	margin-right:auto;
	margin-left:auto;
}

#esmalsora{
	text-align:center;
	color:#BA0202;
	font-size:40px;
	margin-right:30%;
	margin-left:auto;
	padding:auto;
}

#alsora{
	box-shadow: none;
	padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
	text-align:center ; 
	width:470px;
	font-size: 30px;
	LINE-HEIGHT: 65px;
}
}


@media only screen and (max-width:320px){ 

  
#navText {
	font-size: 14px;
}

#esmalsora{
	text-align:center;
	color:#BA0202;
	font-size:40px;
	margin-right: 30px;
}

#alsora{
	box-shadow: none;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
	text-align:center ; 
	font-size: 30px;
	LINE-HEIGHT: 65px;
}

ul {
  height:10%;
  width:155%;
}

#esmalsora1 {
	margin-left:-50px;
}

.radio {
  width:120px;
  LINE-HEIGHT: 10px;
}

footer{
	padding:0px 25% 10%;
}
}
